//colors
$color-black: #10131a;
$color-brand: #1abc9c;
$color-secoundary: #2196f3;
$color-brand-light: #e8f8f5;
$color-white: #ffffff;
$color-light-grey: #fcfcfa;
$color-light-grey2: #f8f8f7;
$color-input-border: #e0e0e0;
$color-text: #333333;

// Heading and font-size
$banner-title: 50px;
$section-title: 34px;
$regular-text: 18px;

$line-height: 40px;
$font-weight: 400;
